// 格式化距离
function formatDistance(distance) {
  if (distance && distance / 1000 > 1) {
    return (distance / 1000).toFixed(2) + "km";
  } else {
    return Number(distance).toFixed(0) + "m";
  }
}

// 格式化日期
function formatDate(date) {
  if (date && date.length >= 8) {
    return (
      date.substring(0, 4) +
      "-" +
      date.substring(4, 6) +
      "-" +
      date.substring(6, 8)
    );
  }
}

// 格式化时间
function formatTime(time) {
  if (time && time.length >= 6) {
    var start = parseInt(time.substring(0, 2));
    var end = start + 1;
    return (
      start +
      ":" +
      time.substring(2, 4) +
      ":" +
      time.substring(4, 6) +
      "-" +
      end +
      ":" +
      time.substring(2, 4) +
      ":" +
      time.substring(4, 6)
    );
  }
}

// 格式化时间
function formatTimeSingal(time) {
  if (time && time.length >= 6) {
    return time.substring(0, 2) + ":" + time.substring(2, 4) + ":" + time.substring(4, 6);
  }
}

// 银行卡脱敏
function hiddenBankCard(bankNumber) {
  if (bankNumber && bankNumber.length > 0) {
    var regexp1 = getRegExp("[0-9]", "gi");
    var regexp2 = getRegExp("(.{4})", "g");
    var l1 = bankNumber.length;
    var s1 = bankNumber.substring(0, 6);
    var s2 = bankNumber.substring(l1 - 4);
    var s3 = bankNumber.substring(l1 - 10).replace(regexp1, "*");
    var hiddenNum = s1 + s3 + s2;
    hiddenNum = hiddenNum.replace(regexp2, "$1 ");
    return hiddenNum;
  }
}

// 金额格式化
function formatAmount(amount) {
  if (amount && amount.length > 0) {
    var regexp = getRegExp("\B(?=(?:\d{3})+$)", "g");
    var strArr = parseFloat(amount).toFixed(2).toString().split(".");
    var hiddenNum = strArr[0].replace(regexp, ",") + "." + strArr[1];
    return hiddenNum;
  }
}

// 获取账号尾号
function tailNumber(account) {
  if (account && account.length > 0) {
    return account.slice(-4);
  }
}

module.exports = {
  formatDistance: formatDistance,
  formatDate: formatDate,
  formatTime: formatTime,
  hiddenBankCard: hiddenBankCard,
  formatAmount: formatAmount,
  formatTimeSingal: formatTimeSingal,
  tailNumber: tailNumber
};
